@import "./duotone.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  h1 {
    @apply text-4xl my-4;
  }

  h2 {
    @apply text-3xl my-4;
  }

  h3 {
    @apply text-2xl my-4;
  }

  h4 {
    @apply text-xl my-2;
  }

  h5 {
    @apply text-lg my-1;
  }

  p {
    @apply mt-2;
  }

  a {
    @apply text-amber-700 underline;
  }

  a:hover {
    @apply text-amber-900;
  }

  a:active {
    @apply text-amber-600;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply ml-8;
  }

  code:not([class]) {
    @apply bg-amber-200 p-1 text-amber-800 inline-block rounded overflow-y-auto w-full md:w-auto whitespace-nowrap;
  }

  hr {
    @apply my-10 w-full border-t border-t-2 border-gray-500 block;
  }
}
